.message {
  color: red;
  font-weight: bold;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 16px;
  display: block;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  font-size: 14px;
}